@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

body,
main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

@layer components {
  .square-btn-hover {
    position: relative;

    @apply rounded-full;

    &:before {
      content: "";
      width: 100%;
      height: 100%;
      z-index: 1;
      transform: translateX(-50%) translateY(-50%);
      @apply bg-gray-500/0 rounded-full top-1/2 left-1/2 absolute transition-all duration-500;

      &:hover {
        @apply bg-gray-500/10 shadow-sm;
      }

      &:focus {
        @apply bg-gray-500/30 shadow-md;
      }
    }

    &_black {
      &:before {
        @apply bg-gray-300/50;

        &:hover {
          @apply bg-gray-300/70 shadow-white/10;
        }

        &:focus {
          @apply bg-gray-300/80 shadow-white/10;
        }
      }
    }
  }
}

input:focus,
textarea:focus,
select:focus,
button:focus,
a:focus {
  @apply ring-2 ring-offset-0 ring-orange-400 outline-none;
}
